apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        # 여기에 이미지 이름만 명시 (태그는 kustomization.yaml에서 관리)
        image: asia-northeast3-docker.pkg.dev/chchoi-project/my-docker-repo/my-app
        ports:
        - containerPort: 8080
