apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
images:
- name: asia-northeast3-docker.pkg.dev/chchoi-project/my-docker-repo/my-app
  newName: asia-northeast3-docker.pkg.dev/chchoi-project/my-docker-repo/my-app
  newTag: 39e2118229ccb89132d2bebf267b1f8751296511
