apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
images:
- name: chan8483/myapp
  newName: chan8483/myapp
  newTag: 18b8d0acee627e806386bfdb5dc29d5df79fd5bc
